@model User

<h2>Submitted Data</h2>

<p>Name: @Model.FirstName @Model.LastName</p>
<p>Age: @Model.Age</p>

<h3>Address</h3>
<p>@Model.Address.Street</p>
<p>@Model.Address.City</p>
<p>@Model.Address.ZipCode</p>